{% extends "nmrr/extra/small_intro.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: curate.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block title %}<h3>Select a Resource type to add</h3>{% endblock %}

{% block menu %}
    {% include 'nmrr/menus/main.html' with active_tab='tab2' %}
{% endblock %}

{% block content %}
<table>
<tr>
    <td align="center">
    <a href="/curate/start_curate?template=organization">
    <img width="100" src="/static/img/organization.png"
         title="Tell us about your institution as a data provider."><br>
    Start Here: <br>
    <small>Your Institution</small>
    </a>
    </td>
    <td align="center">
    <a href="/curate/start_curate?template=database">
    <img width="100" src="/static/img/datacollection.png"
         title="A searchable dataset"><br>
    Database
    </a>
    </td>
    <td align="center">
    <a href="/curate/start_curate?template=dataset">
    <img width="100" src="/static/img/dataset.png"
         title="Download-able data"><br>
    Dataset
    </a>
    </td>
    <td align="center">
    <a href="/curate/start_curate?template=dataset">
    <img width="100" src="/static/img/document.png"
         title="A standard or metrology-related document."><br>
    Standards <br> Document
    </a>
    </td>
    <td align="center">
    <a href="/curate/start_curate?template=service">
    <img width="100" src="/static/img/service.png"
         title="A service that calculates or analyzes data"><br>
    Data Service
    </a>
    </td>
    <td align="center">
    <a href="/curate/start_curate?template=informational">
    <img width="100" src="/static/img/informational.png"
         title="A web-site with various tools for interacting with data"><br>
    Data Portal
    </a>
    </td>
    <td align="center">
    <a href="/curate/start_curate?template=software">
    <img width="100" src="/static/img/software.jpg"
         title="Download-able software that calculates data (via a standard algorithm)"><br>
    Software or Tool
    </a>
    </td>
</tr>
<tr>
<td colspan="7">
<br><br>

<h3>Just Getting Started?  Tell us about your institution</h3>

<p>
Have you just logged in for the first time?  Your first step to sharing your
metrology data is to describe your institution as provider of data.
<a href="/curate/start_curate?template=organization">Start now.</a>
</p>

<p>
Finished?  Thank you!  Now users know you have useful data.  Next, you
can describe some of the data you have available.  Start with the most
important ones.  
</p>

<h3> Describing Your Data Resources </h3>

<p>
To describe and share a data resource, choose one of the categories that best
describes your resource.  (These categories can be somewhat fuzzy, so don't
worry too much about picking the wrong one.)
</p>

<p>
<a href="/curate/start_curate?template=database">Database</a> -
A collection of data that is searchable in some way.  Users can either search
it on-line through a specialized web site or download the data and search it
off-line.  
</p>

<p>
<a href="/curate/start_curate?template=dataset">Dataset</a> - A collection of
data that are available for download either as a single file or a set of files.
</p>


<p>
<a href="/curate/start_curate?template=dataset">Dataset</a> - An on-line
standard or metrology-related document.  This is intended primarily for
<strong>key standards documents</strong> or supporting documents related to
metrology provided directly by a Metrology Institute.  Do not register articles
published and available through normal journals.
</p>


<p>
<a href="/curate/start_curate?template=service">Data Service</a> - A web tool
that calculates, analyzes, or otherwise interacts with data.  Users may use the
service either through a web page or programmatically through an API.  
</p>

<p>
<a href="/curate/start_curate?template=informational">Data Portal</a> -
A web site that provides a suite of tools for interacting with a variety of
data. 
</p>

<p>
<a href="/curate/start_curate?template=software">Software or Tool</a> - A
metrology-related software library or application.  This can include software
that calculates data based on standard algorithms, formulae, or parameters.  
</p>
</td>
</tr>
</table>
{% endblock %}

<div class="alert alert-danger" id="banner_errors" style="display: none;">
    <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
    <h4><i class="fa fa-exclamation-circle fa-1x"></i> Error</h4>
    <div id="form_start_errors">
    </div>
</div>
